ul {
    list-style: none;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #3F51b5;
    border: 0;
    margin-bottom: 50px;
}

/* Projects Pictures */
.portfolio .grid div {
    flex-basis: 33%;
}

@media (max-width: 1100px) {
    .portfolio .grid div {
        margin: 0 5px 10px;
        flex-basis: 46%;
    }
}

@media (max-width: 800px) {
    .portfolio .grid div {
        margin: 0 5px 10px;
        flex-basis: 100%;
    }
}