/*General Styles*/

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

section h3 {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section > p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

section:not(.hero):nth-child(even) {
  background-color: #efefef;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

/*Header Styles */

header {
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

/*Hero Styles*/

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .hero {
    /*min-height: 600px;*/
  }

  .hero h1 {
    font-size: 46px;
  }

  .hero h3 {
    font-size: 23px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }
}

/* About Styles */

/* Projects/Portfolio Styles */

/* Contact Styles */
.contact a {
  text-decoration: none;
  color: black;
}

/* Footer Styles */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
￼
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}













